a {
	text-decoration: none;
}

ul {
	padding-left: 50px;
}

body {
	margin: 20px 30px;
}

div {
	padding: 8px 5px;
	width: 40rem;
}

button {
	margin: 7px 3px;
	position: relative;
	justify-self: right;
}

.buttons-div {
	display: flex;
	justify-content: right;
}

#author {
	font-style: italic;
}
