{% extends 'base.html' %} {% block title %}Post Detail Page{% endblock %} {%
block content %}
<div>
	<div class="col-md-8">
		<h2>{{post.title}}</h2>
		<p>{{post.content}}</p>
		<span id="author"
			>By {{post.user.first_name}} {{post.user.last_name}} on
			{{post.created_at.strftime('%B %d, %Y at %I:%M %p')}}</span
		>
	</div>
	<div class="col-md-8">
		{% for tag in post.tag %}
		<span class="badge text-bg-primary">{{tag.name}}</span>
		{% endfor %}
	</div>
	<div>
		<button
			type="button"
			class="btn btn-outline-primary"
			onclick="location.href='/users/{{post.user.id}}'"
		>
			Cancel
		</button>
		<button
			type="button"
			class="btn btn-primary"
			onclick="location.href='/posts/{{post.id}}/edit'"
		>
			Edit
		</button>
		<form action="/posts/{{post.id}}/delete" method="POST" class="d-inline">
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
	</div>
</div>
{% endblock %}
